:root{
    --grid-rows: 1;
    --grid-columns: 1;
}

body{
    background-color: #ADD8E6;
    text-align: center;
}


#container{
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    width: 800px;
    height: 800px;
    margin: auto;
    background-color: white;
}

.cell{
    border: 1px solid black;
    padding: 0;
}

.cell:hover{
    background-color: black;
    color: black;
}

#reset{
    background-color: black;
    color: white;
    margin: 5px 4px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0px 15px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    min-width: 54px;
}

#button-div{
    margin: 20px 10px;
    display: flex;
    justify-content: center;
}

.cell-black{
    background-color: black;
}